/* MAIN STUFF */
body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
}

/* LINKS */
a {
  color: #d41041;
}

a:visited {
  color: #d41041;
}

a:hover {
  color: #f0abbd;
}


/* CONTENT */




#SNS {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 14px;
  display: inline-block;
  margin: 0px;
  background: #FFFFFF;
  color: #d41041;
  padding: 20px 0px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
